{namespace m=Tx_SmDownloads_ViewHelpers}
<f:layout name="Default" />

<f:section name="main">

<f:for each="{files}" as="file">
	<f:if condition="{file.isFolder}">
		<f:then>
			<f:link.action class="folder" controller="File" action="list" arguments="{folderName: file.name, path: path}">
				{file.name}
			</f:link.action><br/>
		</f:then>
		<f:else>
			<f:link.action controller="File" action="download" arguments="{fileName: file.name,mime: file.mime, path: path}">
			<m:icon mime="{file.mime}" settings="{settings}" />	{file.name} <m:fileSize byte="{file.size}" />
			</f:link.action><br/>
		</f:else>
	</f:if>
</f:for>

</f:section>